.style4div {
    background-color: black;
    position: absolute;
    left:-250px;
    z-index:3;
    height:100%;
    width:250px;
    top:0px;
    text-align:left;
}

.style4ul {
    padding-top:100px;
    list-style:none;
    display:block;
    margin-left:20px;
}

.style4li {
    padding-top:5px;
    padding-bottom: 5px;
    font:bold 20px sans-serif;
    color:lightgray;
    text-decoration: none;
    list-style:none;
    display:block;
}
.style4li :hover {
    color:white;
    font:bold 23px sans-serif;
}
.style4li details>summary>ul>li {
    padding-top:0px;
    font:bold 18px sans-serif;
}

.style4li details>summary>ul>li :hover{
    font:bold 20px sans-serif;
}
.style4li a{
    text-decoration: none;
    color:lightgray;
}

.style4btn{
    position: absolute;
    top: 20px;
    left:195px;
    z-index:5;
    width:35px;
    height:35px;
}

